body{
    font-size: large;
    background-image: url(image2.jpg);
}
#code{
    border-style: dotted ;border-width: medium ;border-color: brown; width: 550px; height: 150px; text-align: justify;
    padding: 10px; margin: auto; margin-bottom: 20px;
 }
  #p{
    border-style: double ;border-width: medium ;border-color: brown; width: 550px; height: 100px; text-align: justify;
    padding: 10px; margin: auto; margin-bottom: 20px;
}
 #g{
   border-style: solid ;border-width: medium ;border-color: brown; width: 550px; height: 100px; text-align: justify;
   padding: 10px; margin: auto; margin-bottom: 20px;
 }
#e{
    border-style: dashed ;border-width: medium ;border-color: brown; width: 550px; height: 100px; text-align: justify;
    padding: 10px; margin: auto; margin-bottom: 20px;
}